<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWZ6SJjbAejDp3qbQWcCYA3HadL-B0GFw</string>
	<key>GCM_SENDER_ID</key>
	<string>237931476952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AMS.HabitCo</string>
	<key>PROJECT_ID</key>
	<string>habitco-ams</string>
	<key>STORAGE_BUCKET</key>
	<string>habitco-ams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237931476952:ios:b354d1ec860fdc885d24ad</string>
</dict>
</plist>